<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Test page for functional tests</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/wrap.css" type="text/css" />
  <script>
    // Set the wrap object just like our apps do
    var wrap = {
      premium: <%- premium %>
    };
  </script>
</head>

<body>
  <script src="/wrap.js"></script>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Login</a></li>
          <li role="presentation"><a href="#">Logout</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Test page for functional tests</h3>
    </div>

    <div class="jumbotron">
      <h1><%= type.charAt(0).toUpperCase() + type.slice(1) %> pageview #<%= count %></h1>
      <p class="lead">This page includes the <a href="/wrap.js" target="_blank">wrap</a> and <a href="/access-meter.js" target="_blank">access meter</a> code from the <code>dist/</code> folder in the project root with <code>wrap.premium</code> set to <code><%- premium %></code>.</p>
      <div class="btn-group btn-group-lg" role="group">
        <a class="btn btn-lg btn-success<% if(count <= 1) { %> disabled<% } %>" href="/<%= type %>/<%= (count - 1) %>/" role="button">Previous</a>
        <% if(premium) { %>
          <a class="btn btn-lg btn-success" href="/free/1/" role="button">Switch to free</a>
        <% } else { %>
          <a class="btn btn-lg btn-success" href="/premium/1/" role="button">Switch to premium</a>
        <% } %>
        <a class="btn btn-lg btn-success" href="/<%= type %>/<%= (count + 1) %>/" role="button">Next</a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h4><code>plate</code></h4>
        <pre id="debug-plate">checking ...</pre>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4><code>wrap</code></h4>
        <pre id="debug-wrap">checking ...</pre>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4><code>cmg.passage_quota.quota_params</code></h4>
        <pre id="debug-pq">checking ...</pre>
      </div>
    </div>

    <%- include('custom-hookem-modals.ejs') %>

    <script src="/access-meter.js"></script>

    <script>
    if(typeof cmg !== 'undefined' && typeof cmg.query !== 'undefined') {
      cmg.query(window).load(function() {
        var $plate = cmg.query('#debug-plate'),
            $wrap = cmg.query('#debug-wrap'),
            $pq = cmg.query('#debug-pq');

        if(typeof plate !== 'undefined') {
          $plate.text(JSON.stringify(plate));
        }
        else {
          $plate.text('Not found.')
        }

        if(typeof wrap !== 'undefined') {
          $wrap.text(JSON.stringify(wrap));
        }
        else {
          $wrap.text('Not found.')
        }

        if(typeof cmg.passage_quota.quota_params !== 'undefined') {
          $pq.text(JSON.stringify(cmg.passage_quota.quota_params));
        }
        else {
          $pq.text('Not found.')
        }
      });
    }
    </script>
</body>

</html>
